/* css module do 'index.tsx' */

.container {
  height: 100vh;
  max-width: 992px;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  padding: 2.5rem 2rem; /* que faz com que os containers de dentro do nosso principal, 'container',
  ocupem apenas espaçamento determinado pelo padding (espaço restante) */
}

.container section {
  flex: 1;

  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 6.25rem;
  align-content: center;
}
